body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #add8e680;
    font-size: 16px;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.25rem;
    overflow: hidden;
}

.about-section {
    float: left;
    width: 70%;
}

.image-section {
    float: right;
    width: 30%;
}

img {
    margin-top: 8rem;
    margin-left: 2rem;
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    margin-top: 2rem;
    color: #333;
    text-align: left;
}

p {
    color: #666;
    text-align: justify;
}
