body {
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #add8e680;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 60rem;
    padding: 1.25rem;
    overflow: hidden;
}

#introduction,
#system-overview,
section {
    margin-bottom: 1rem;
}

strong {
    font-weight: bold;
}

h1 {
    margin-top: 2rem;
    color: #333;
    text-align: left;
}

p {
    color: #666;
    text-align: left;
    margin-bottom: 0.5rem;
}

section {
    overflow: hidden;
}

#introduction,
#system-overview {
    float: none;
    width: 100%;
}

figure {
    margin: 0;
    position: relative;
}

figcaption {
    text-align: center;
    width: 100%;
    bottom: 0;
    margin-bottom: 0.5rem;
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    display: block;
}

.footnote {
    font-size: smaller;
}
